#circl{width:70px; height: 70px; 
    background-color: #5F8668;
    border-radius:100px;
    margin: 0 auto;position: relative;}
/* style={{width:'13%', height: '70px',
    backgroundColor: '#5F8668',
    borderRadius:'100px',
    margin:' 0 auto',position: 'relative'}}*/